<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t][%level] %msg%n"/>
        </Console>

        <RollingFile name="LogFile" immediateFlush="true" filePattern="logs/MarioGame_%d{yyyy-MM-dd}_%i.log">
            <PatternLayout pattern="%d{HH:mm:ss} [%t][%level] %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingFile>

    </appenders>
    <loggers>
        <logger name="Main" level="debug">
            <appender-ref ref="LogFile"/>
        </logger>
        <root level="debug">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>